# Build artefacts
datasets
io
harness/__pycache__
submission/Cargo.lock
submission/target
submission/build
third_party/

# clangd
submission/compile_commands.json
submission/.cache

# Virtual environments
virtualenv
